.messages {
  font-size: 15px;
  color: #525252;
  background: linear-gradient(180deg, #8836BF 12%, #762EA6);
  padding: 20px;
  border: 1px solid yellow;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(82vh - 70px - 45px - 61px - 30px);
  min-height: calc(82vh - 70px - 45px - 61px - 30px);
  overflow-y: scroll;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F5EFBA;
    }
  }
}

.message-content {
  background-color: #E4CAF7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  cursor: text;
  word-break: break-all;
  overflow: visible;
  white-space: normal;
  height:auto;
  font-size: 20px;
}

.avatar-chat {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}
.message_content {
  margin-bottom: 0;
}

input.form-control {
  border: 1px solid $purple;
  box-shadow: none;
  font-size: 18px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid yellow;
    box-shadow: none;
  }
}

.chat-header {
  white-space: nowrap;
  background-color: #F1B247;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

#emoji-button {
  font-size: 28px;
  cursor: pointer;
  &:hover {
    color: $purple;
    opacity: 0.8;
  }
}

#chat-index {
  background: linear-gradient(180deg, #8836BF 12%, #762EA6);
  border-radius: 16px;
  border: solid 1px white;
  max-height: calc(104vh - 70px - 45px - 61px - 30px);
  min-height: calc(90vh - 70px - 45px - 61px - 30px);
  overflow-y: scroll;
}

.active-chatroom {
  background-color: #3C214F;
  opacity: 0.9;
}

#last-message {
  margin-left: 98px;
}

.yellow-scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #D8C2DD;
}

.yellow-scrollbar::-webkit-scrollbar
{
  width: 2px;
  background-color: #F5F5F5;
}

.yellow-scrollbar::-webkit-scrollbar-thumb
{
  background-color: #F90;
  background-image: -webkit-linear-gradient(90deg,
                      rgba(255, 255, 255, .2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .2) 50%,
                      rgba(255, 255, 255, .2) 75%,
                      transparent 75%,
                      transparent)
}
