.cards-user-request {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-user-request {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-user-request {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-user-request {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-user-request {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-user-request {
    grid-template-columns: 1fr 1fr;
  }
}

.br-theme-css-stars .br-widget a {
  font-size: 40px;
  margin: 14px;
  text-align: center;
  float: none;
}

#review_content {
  margin-top: 40px;
}
