.category-badge-img {
  height: 30px;
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(104%) contrast(103%);
  margin: auto;
  margin-bottom: 5px;
}

.category-badge {
  height: 40px;
  width: 40px;
  font-size: 25px;
  color: white;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
}

.text-header-3 {
  font-size: 30px;
  color: white;
  text-align: center;
}
