.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.nounderline {
  text-decoration: none;
  color: #26272D;
  cursor: pointer;
}

.nounderline:hover {
  text-decoration: none;
  color: $purple;
  opacity: 0.9;
}

.card {
  background: linear-gradient(180deg, rgba(246,185,59,1) 12%, rgba(228,182,88,1) 96%);
}

.card-img-top {
  width: 70%;
  background-size: contain;
  display: block;
  margin: 0 auto;
  -webkit-transform: scale(1);
  transform: scale(0.9);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow: hidden;
}

.card-img-top:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}
