<div class="container-fluid">
  <%= render 'shared/user_show_card', user: @user %>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <% if @user == current_user %>
        <%= render 'shared/bookmarked' %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <% unless @user.reviews.blank? %>
        <%= @user.reviews.each do |review| %>
          review.content
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
  </div>
</div>
