<div class="container-wide">
  <%= render 'shared/profile_card', user: @user %>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <%= render 'shared/following' %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <%= render 'shared/followers' %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
  </div>
</div>
