<div class="container" style="background-color: yellow;">
  <h1 class="text-center">Pedidos marcados</h1>
  <% if current_user.all_favorited.count == 0 %>
    <p>Aqui surgirão os pedidos que marcaste com <i class="far fa-star"></i></p>
  <% else %>
    <% current_user.all_favorited.each do |request| %>
      <%= render 'shared/request_card', request: request %>
    <% end %>
  <% end %>
</div>
