<div class="container mt-3">
  <% if current_user.all_favorited.count == 0 %>
    <h1 class="text-center text-header"><i class="far fa-bookmark"></i></h1>
    <h2 class="text-center text-muted">Aqui surgirão os pedidos que marcaste</h2>
  <% else %>
    <div class="cards">
      <% current_user.all_favorited.each do |request| %>
        <%= render 'shared/request_card', request: request %>
      <% end %>
    </div>
  <% end %>
</div>

