<div style="background-color: #f6b93b;">
  <h5 class="fas fa-bookmark m-1 ml-5"></h5>
  <% if current_user.all_favorited.count == 0 %>
    <p>Aqui surgirão os pedidos que marcaste com <i class="far fa-star"></i></p>
  <% else %>
    <% current_user.all_favorited.each do |request| %>
      <%= render 'shared/request_card', request: request %>
    <% end %>
  <% end %>
</div>
