<h1 id="follow"><%= @user.favoritors(scope: :follow).count %></h1>
<span id="settingsFollowers">Seguidores</span>
<div id="panelFollowers">
  <ul>
    <% @user.favoritors(scope: :follow).each do |followers| %>
      <%= render 'shared/profile_card', user: followers %>
    <% end %>
  </ul>
</div>
