<div class="hoverable" data-toggle="modal" data-target="#followingModalLong">
  <h1 id="follow"><%= @user.all_favorited(scope: :follow).count %></h1>
  <span id="settingsFollowing">A seguir</span>
</div>

<% unless @user.all_favorited.count.blank? %>
  <div class="modal fade" id="followingModalLong" tabindex="-1" role="dialog" aria-labelledby="followingModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-white" id="followingModalLongTitle">A seguir</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% @user.all_favorited(scope: :follow).each do |following| %>
            <%= render 'shared/profile_card', user: following %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
