<div class="mt-2">
  <h6 class="font-weight-bold"><%= request.title %></h2>
    <hr class="hr-vol">
  <p><%= request.full_address %></p>
  <%= link_to "Ver", request_path(request), class: "btn btn-block btn-primary mx-auto", style: "font-size: 14px;" %>
</div>
