<div class="purple-container mt-3">
  <div class="m-3 text-white">
    <h5><i class="fas fa-user"></i> Pessoa a ajudar:</h5>
    <hr class="hr-vol">
    <h6>Nome: <%= request.person_name %></h6>
    <p>Idade: <%= request.age %></p>
    <p><i class="fas fa-phone-square-alt"></i> Telefone: <%= request.phone_number %></p>
  </div>
</div>
