<div class="card">
  <div class="card-body text-center">
    <img class="avatar rounded-circle my-2" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg" alt="Bologna">
    <h2 class="card-title"><%= user.full_name %></h2>
    <h5 class="card-subtitle my-3 text-muted"><%= user.city %></h5>
    <p class="card-text my-3"><%= user.about_me %></p>
    <a href="#" class="btn btn-info">Seguir</a>
    <a href="#" class="btn btn-outline-info">Mensagem</a>
  </div>
</div>
