<div class="card">
  <div class="card-body text-center">
    <img class="avatar-xl rounded-circle my-2" src="https://eu.ui-avatars.com/api/?name=<%= user.full_name.gsub(" ", "+") %>}" alt="Bologna">
    <h2 class="card-title"><%= user.full_name %></h2>
    <h5 class="card-subtitle my-3 text-muted"><%= user.city %></h5>
    <p class="card-text my-3"><%= user.about_me %></p>
    <a href="#" class="btn btn-info mx-2">Perfil</a>
    <a href="#" class="btn btn-outline-warning mx-2">Mensagem</a>
  </div>
</div>
