<% if @request.photos.attached? %>

  <div class="carousel">
   <input type="radio" id="carousel-1" name="carousel[]" checked>
   <input type="radio" id="carousel-2" name="carousel[]">
   <input type="radio" id="carousel-3" name="carousel[]">
     <ul class="carousel__items">
        <% @request.photos.each do |photo| %>
          <%= cl_image_tag photo.key, class: "carousel__item" %>
        <% end %>
     </ul>
    <div class="carousel__prev">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
    </div>
    <div class="carousel__next">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
    </div>
    <div class="carousel__nav">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
    </div>
  </div>

<% else %>
<!-- Para teste apagar depois -->
  <div class="carousel">
   <input type="radio" id="carousel-1" name="carousel[]" checked>
   <input type="radio" id="carousel-2" name="carousel[]">
   <input type="radio" id="carousel-3" name="carousel[]">
     <ul class="carousel__items">
         <li class="carousel__item"><img src="//lh5.googleusercontent.com/-cTEgPOnd3l8/U8-EmaZ4KNI/AAAAAAAABc8/6eacbALkQ6A/w1358-h905-no/carousel-1.JPG" alt=""></li>
         <li class="carousel__item"><img src="//lh4.googleusercontent.com/-ntVHbbWX5eo/U8-EmV8P4cI/AAAAAAAABc4/ICYBGkcztTc/w1358-h905-no/carousel-2.jpg" alt=""></li>
         <li class="carousel__item"><img src="//lh5.googleusercontent.com/-batEXUZE_e4/U8-EmLF9-hI/AAAAAAAABc0/J3tJVUa6Buk/w1358-h905-no/carousel-3.jpg" alt=""></li>
     </ul>
    <div class="carousel__prev">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
    </div>
    <div class="carousel__next">
      <label for="carousel-1"></label>
      <label for="carousel-2"></label>
      <label for="carousel-3"></label>
    </div>
  </div>

<% end %>
