<div class="container my-5">

  <%= render 'shared/map' %>

  <% if @requests_near.count >= 1 %>

    <h1 class="text-header-2">Em <%= current_user.city %>:</h1>
    <hr class="hr-vol">

    <div class="cards my-5">
      <% @requests_near.each do |request| %>
        <%= render 'shared/request_card', request: request %>
      <% end %>
    </div>

    <h1 class="text-header-2">Todos os pedidos</h1>
    <hr class="hr-vol">
  <% end %>

  <div class="cards my-5">
    <% @requests.each do |request| %>
      <%= render 'shared/request_card', request: request %>
    <% end %>
  </div>

</div>
