<div class="container-fluid">
  <div class="row bg-light">
    <div class="col-12">
      <h1><strong><%= @request.title %></strong></h1>
      <div class="gallery js-flickity">
        <div class="gallery-cell"><img src="https://source.unsplash.com/random" alt=""></div>
        <div class="gallery-cell"><img src="https://source.unsplash.com/random" alt=""></div>
        <div class="gallery-cell"><img src="https://source.unsplash.com/random" alt=""></div>
        <div class="gallery-cell"><img src="https://source.unsplash.com/random" alt=""></div>
        <div class="gallery-cell"><img src="https://source.unsplash.com/random" alt=""></div>
      </div>
    </div>
  </div>
</div>

      <h3><%= @request.description %></h3>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
