<div class="container-wide">
  <%= render 'shared/banner' %>
  <div class="">
    <div class="col-12">
      <%#= render 'shared/carosel_home' %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
  </div>
</div>
