<%= render 'shared/banner' %>
<%= render 'shared/carosel_home' %>
<div class="container-wide">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6">
      <!-- content -->
    </div>
  </div>
</div>
