/* main div */
.cookies-eu {
  background-color: #000000 !important;
  color: white;
  border-top-color: #E4AA46 !important;
}

/* content holder */
.cookies-eu-content-holder {

}

/* button holder */
.cookies-eu-button-holder {

}

/* button */
.cookies-eu-ok {
  background-color: #8757BB !important;
}

.cookies-eu-link {

}
