.navbar-ajudai {
  display: flex;
  background: linear-gradient(180deg, #8836BF 12%, #762EA6);
  justify-content: space-around;
  align-items: center;
  border-bottom: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, rgba(231, 158, 68,1) 12%, rgba(228,170,70,1) 95%);
  min-height: 100px;
  flex-shrink: 3;
}


.navbar-ajudai .navbar-collapse {
  flex-grow: 0;
  flex-shrink: 3;
}

.navbar-ajudai .navbar-brand img {
  width: 60px;
}

.nav-link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.30px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
}

.btn-nav {
  color: yellow !important;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.4s ease 0s;
  font-size: 20px;
  cursor: pointer;
  margin-right: 100px;
}

@media only screen and (device-width: 768px) {
  .btn-nav {
    font-size: 8px;
    margin-right: 0;
  }
}

@media only screen and (max-device-width: 480px) {
    .btn-nav {
      font-size: 10px;
      margin-right: 0;
    }
 }

#logo {
  color: #f6b93b;
  font-size: 35px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.1px;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.004);
}

