<div class="mean_review hoverable" data-toggle="modal" data-target="#reviewModalLong">
  <h5>Avaliação Média</h5>
  <% mean_review(@user.reviews).to_i.times do %>
    <span style="font-size: 22px;" class="fa fa-star checked text-warning"></span>
  <% end %>
  <p><strong><%= mean_review(@user.reviews).round(2) %></strong></p>
</div>

<div class="modal fade" id="reviewModalLong" tabindex="-1" role="dialog" aria-labelledby="reviewModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-transparent" style="border: none;">
      <div class="modal-body">
        <p class="text-header-3 badge badge-pill badge-primary">Com base em <%= @user.reviews.count %> <%= "critíca".pluralize(@user.reviews.count) %>:</p>
        <%= render "reviews/show" %>
      </div>
    </div>
  </div>
</div>
